spring:
  security:
    oauth2:
      client:
        provider:
          fint-idp:
            token-uri: ${fint.flyt.egrunnerverv.token-uri}
        registration:
          egrunnerverv:
            authorization-grant-type: password
            provider: fint-idp
            client-id: ${fint.flyt.egrunnerverv.client-id}
            client-secret: ${fint.flyt.egrunnerverv.client-secret}
  profiles:
    include:
      - flyt-kafka
      - flyt-postgres

fint:
  application-id: fint-flyt-egrunnerverv-dispatch-gateway
  flyt:
    egrunnerverv:
      username:
      password:
      registrationId: egrunnerverv
      instance-dispatch-initial-delay: 120000
      instance-dispatch-fixed-delay: 300000
      tablenameSak: "x_nvas_grunnerverv_grunnerverv"
      tablenameJournalpost: "x_nvas_grunnerverv_dokumenter"
  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000
management:
  endpoints:
    web:
      exposure:
        include:
          - prometheus
logging:
  level:
    no.fintlabs.cache.ehcache.FintEhCacheEventLogger: WARN